{% extends "bases/bootstrap-member.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}
{% block title %}
{% block head_title %}{% trans "Shahparan Hall" %}{% endblock %}
{% endblock %}

{% block content %}
  

     <div class="container">
<div class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav navbar-nav">
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Library <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'library_fine_new' %}">Library Fine Application</a></li>
     </ul>
   </li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Hall <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'shahparan_hall_new' %}">Shahparan Hall Admission Form</a></li>
     </ul>
   </li>
     <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Registrar <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 'transcript_new' %}">Transcript</a></li>
       <li><a href="{% url 'gradesheet_new' %}">Gradesheet</a></li>
     </ul>
   </li>
     <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bank <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="{% url 's_2_new' %}">S2</a></li>
       <li><a href="{% url 'std_6_new' %}">STD6</a></li>
        <li><a href="{% url 'cash_memo_new' %}">Recepit</a></li>
     </ul>
   </li>
   
  
  </ul>
</div>


<div class="cont">
 <div class="row">
 
            <h1 class="text-center">Create Library Fine Application</h1>

      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <form class="libraryfine" method="POST">

      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-actions">
        <button class="btn btn-primary pull-right" type="submit">{% trans "Save" %}</button>
      
      </div>
    </form>
 </div>
</div>



     </div>









      
{% endblock %}