{% extends "bases/bootstrap-member.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}
{% block title %}
{% block head_title %}{% trans "S2" %}{% endblock %}
{% endblock %}

{% block content %}
  
          <h1 class="text-center">S2</h1>

      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

    <form class="s2" method="POST">

      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-actions">
        <button class="btn btn-primary pull-right" type="submit">{% trans "Save" %}</button>
      
      </div>
    </form
{% endblock %}